apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: gateway
  namespace: inferenceforge
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - inferenceforge
  selector:
    matchLabels:
      app: gateway
  endpoints:
    - port: http
      path: /metrics
      interval: 15s


